body{
	background-color: #B5F4FF;
}
header{
	background-color: #007bff;
	border: solid black 2px;
	border-radius: 10px;
	padding: 15px;
  	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#titulo{
	font-family: Helvetica;
}
header nav{
	display: flex;
  	gap: 20px;
}
header nav a{
	color: white;
	text-decoration: none;
	transition: 1s;
}
header nav a:hover{
	color: black;
}
#contenido{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center; 
	padding: 20px;
  	margin: 20px 0;
  	border: 2px solid black;
  	border-radius: 10px;
  	box-shadow: 0 6px 10px rgba(0, 0, 0, 4);
}
#contenido h2{
	font-size: 32px;
	margin-bottom: 10px;
}
#contenido p{
	font-size: large;
	color: white;
	margin-bottom: 15px;
}
#contenido img{
	max-width: 100%;
	height: auto;
	margin-top: 15px;
	border: 2px solid grey; 
	border-radius: 10px; 
	box-shadow: 0 4px 6px rgba(0, 0, 0, 4);
}
footer{
	padding: 10px;
	background-color: #333;
	color: white;
	text-align: center;
	margin-top: 20px;
}
#imagenes img{
	width: 40%;
	height: 50%;
}
#imagenes{
	margin-top: 30px;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
}
#sobremi{
	background-color: white;
	padding: 20px;
	font-family: Arial, sans-serif;
	display: inline-block;
	text-align: left;
	border: solid, black, 2px;
	border-radius: 10px;
}
#contacto{
	border: solid white 2px;
	border-radius: 10px;
	background-color: white;
}
#nombre{
	border-radius: 10px;
	border: solid, black, 2px;
	transition: 3s;
}
#nombre:hover{
	background-color: lightblue;
}
#email{
	border-radius: 10px;
	border: solid, black, 2px;
	transition: 3s;
}
#email:hover{
	background-color: lightblue;
}
#mensaje{
	border-radius: 10px;
	border: solid, black, 2px;
	transition: 3s;
}
#mensaje:hover{
	background-color: lightblue;
}
#envio{
	border: solid, black, 1px;
	border-radius: 10px;
	background-color: white;
	transition: 3s;
}
#envio:hover{
	background-color: lightblue;
}